[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
pillow = "*"
easy-pil = "*"
yt-dlp = "*"
pynacl = "*"
python-dotenv = "*"
emoji = "*"
tinytag = "*"
youtube-search-python = "*"
dacite = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
dev = "python main.py"
