[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
pillow = "*"
easy-pil = "*"
flask = "*"
yt-dlp = "*"
pynacl = "*"
python-dotenv = "*"
emoji = "*"

[dev-packages]

[requires]
python_version = "3.12"
